<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Request Tracker{% endblock %}</title>

  {% load staticfiles %}
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'requests/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'requests:index' %}">Request Tracking System</a>
      </div>

      <div class="collapse navbar-collapse" id="topNavBar">
         <ul class="nav navbar-nav">
             <li class="{% block yours %}{% endblock %}">
                 <a href="{% url 'requests:tickets' %}">
                     <span class="glyphicon glyphicon-tag"></span>&nbsp;Your Created Tickets
                 </a>
             </li>
             <li class="{% block work %}{% endblock %}">
                <a href="{% url 'requests:work' %}">
                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;Tickets In Your Work Queues
                </a>
             </li>

         </ul>

         <ul class="nav navbar-nav navbar-right">

             <li>
                 <a href="{% url 'requests:addticket' %}">
                     <span class="glyphicon glyphicon-plus"></span>&nbsp;Create Ticket
                 </a>
             </li>

             {% if user.is_staff %}
             <li>
                 <a href="{% url 'admin:index' %}">
                     <span class="glyphicon glyphicon-console"></span>&nbsp;Admin Panel
                 </a>
             </li>
             {% endif %}

             <li>
                 <a href="{% url 'requests:logout' %}">
                     <span class="glyphicon glyphicon-off"></span>&nbsp;Logout
                 </a>
             </li>

         </ul>

      </div>

    </div>
  </nav>

  <div class="container-fluid">
  {% block body %}
  {% endblock %}
  </div>

</body>

</html>